@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<ul>
    @foreach (var item in people)
    {
        <li>@item.firstName @item.lastName</li>
    }

</ul>
@code
{
    List<PesonModel> people;
    protected override Task OnInitializedAsync()
    {
        throw new NotImplementedException();
    }
}
